<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11562921271-mmgta6anv0rq8988ujjrss2knuihq06m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11562921271-mmgta6anv0rq8988ujjrss2knuihq06m</string>
	<key>API_KEY</key>
	<string>AIzaSyDzJFwTscHFp4uGRlKw4Yren-WSkFIOer0</string>
	<key>GCM_SENDER_ID</key>
	<string>11562921271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demetcaliskan.InternProject</string>
	<key>PROJECT_ID</key>
	<string>scotiuminternproject</string>
	<key>STORAGE_BUCKET</key>
	<string>scotiuminternproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11562921271:ios:984e425d4751e11e66feb2</string>
</dict>
</plist>